<!DOCTYPE html lang='eng/us'>
<head>
    <title>Vinícius C. Gomes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' type ='text/css' href='styles/style.css'>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/44/72/c5/4472c55bb376f46dbcf745e9708a0b61.png" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Vinícius</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>no
      
      <!-- Bootstrap navbar with adjustments -->    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#projetos">Projetos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">Contato</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> 
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div> 
    </nav>
    
    <!-- Main Part -->
    
    <main>
      <section id='projetos'>
        <h1>Projetos</h1>
        <div id="imagens-projetos">
          <a href="https://desolate-peak-24884.herokuapp.com/" target="_blank"><img src='https://i.pinimg.com/originals/fb/90/de/fb90de1835bc1128324b6eb029569e89.png'></a>
          <a href="https://hudson-doright-96273.herokuapp.com/" target="_blank"><img src='https://i.pinimg.com/originals/a4/fc/06/a4fc06b5f90e2d130ab249d9de2d2cf7.png'></a>
        </div>
      </section>
      <section id='perfil'>
        <h1>Perfil</h1>
        <div id='perfil-foto'>
          <div id='fotos'>
            <img src='https://i.pinimg.com/originals/1a/51/df/1a51df60fed6f4bb10da5d64bd5171a6.jpg'>
          </div>
          <div id='bio'>
            <h4>Mini-currículo</h4>
            <p>
              Vinícius Correia Gomes<br>
              Tecnologia em Sistemas de Computação - UFF (<em>em curso</em>)<br>
              Analista de Mídias Digitais - FGV - Niterói, RJ - 2017<br>
              Bacharel em Letras Português-Inglês - UFRJ - Rio de Janeiro, RJ –2008 
            </p>
            <h4>Habilidades e competências</h4>
            <ul>
              <li>SEO, Wordpress e Inbound Marketing</li>
              <li>Programação: SQL, Python, Javascript, HTML, CSS, Bootstrap, NODEJS</li>
              <li>Noções de gerência de projeto</li>
              <li>MS Word, MS Power Point, MS Excel</li>
              <li>Escrita formal e criativa</li>
            </ul>
            <h4>Bio</h4>
            <p>Sempre fui um amante da tecnologia. Por conta disso, ainda quando adolescente, fiz cursos de hardware e usava computadores antigos como verdadeiras cobaias.
            Entre os anos de 2005 e 2013, concentrei minha carreira na área das letras. Fui professor, tradutor e redator publicitário. Pude conhecer alguns setores diferentes do mercado de trabalho e conquistei um bom desenvolvimento pessoal e profissional. <br>
            Recentemente, passei a descobrir a programação, algo que não conhecia e sequer desconfiava da sua potencialidade. Passei a estudar algumas linguagens e buscar cursos na Udemy, Udacity e Alura. <br>
            Hoje faço uma graduação pela UFF e busco projetos que envolvam as áreas de Front-End, Back-End, PLN, Machine Learning e outras tecnologias. <br>
            </p>
          </div>
        </div>
      </section>
      <section id='contato'>
        <h1>Contato</h1>
          <p>Este portfólio está sendo feito com HTML, CSS, Javascript, Bootstrap, Font Awesome e NodeJS. Abaixo estão os meus contatos. Aceito sugestões e recomendações, tanto para a carreira, quanto para este website. </p>
          <a href='https://github.com/cerberushades' target="_blank"><i class="fab fa-github"></i></a>
          <a href='https://www.linkedin.com/in/vin%C3%ADcius-gomes-8136b8179/' target="_blank"><i class="fab fa-linkedin-in"></i></i></a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=viniciuscg1986@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
      </section>
    </main>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    
</body>
