<!DOCTYPE html lang='eng/us'>
  <head>
      <title>Vinícius C. Gomes</title>
      <link rel='stylesheet' type ='text/css' href='styles/style.css'>
      <link rel="shortcut icon" href="https://i.pinimg.com/originals/17/81/48/17814814abeada080c4c328394cb2a5b.png" />
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
      <main>
          <div id='imagem'><a href="/"><img src='https://www.publicdomainpictures.net/pictures/230000/velka/scaffolding-1502127816nii.jpg' alt=""></a></div>
          <div id="conteudo">
              <nav>
                  <ul>
                      <li><a href="/projetos">Projetos</a></li>
                      <li><a href="/habilidades">Habilidades</a></li>
                      <li><a href="/sobre-mim">Sobre Mim</a></li>
                  </ul>
              </nav>
              <section id="section-projetos">
                    <a href="https://desolate-peak-24884.herokuapp.com/" target="_blank"><img src='https://i.pinimg.com/originals/fb/90/de/fb90de1835bc1128324b6eb029569e89.png'></a>
                    <a href="https://hudson-doright-96273.herokuapp.com/" target="_blank"><img src='https://i.pinimg.com/originals/a4/fc/06/a4fc06b5f90e2d130ab249d9de2d2cf7.png'></a>
                </section>
              <footer>
                  <a href='https://github.com/cerberushades' target="_blank"><i class="fab fa-github"></i></a>
                  <a href='https://www.linkedin.com/in/vin%C3%ADcius-correia-8136b8179/' target="_blank"><i class="fab fa-linkedin-in"></i></i></a>
                  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=viniciuscg1986@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
              </footer>
          </div>
      </main>
  </body>